<!DOCTYPE html>
<html>
{%block head%}
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{%block title%}Simple House Template {%endblock%}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{{asset('css/templatemo-style.css')}}" rel="stylesheet" />
</head>

{%endblock%}
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('img/simple-house-01.jpg')}}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{{asset('img/simple-house-logo.png')}}" alt="Picture" class="one" > 
								<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple book</h1>
								<h6 class="tm-site-description">you can read it quicly</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{{path('book_index')}}" class="tm-nav-link active">Home</a></li>
                        <li class="tm-nav-li"><a href="{{path('register')}}" class="tm-nav-link">Create Account</a></li>
								<li class="tm-nav-li"><a href="{{path('Aboutus')}}" class="tm-nav-link">About</a></li>
								<li class="tm-nav-li"><a href="{{path('contact')}}" class="tm-nav-link">Contact</a></li>
							{% if app.user %}
						<li class="tm-nav-li">{{ app.user.name }}
						<a href="/logout" class="tm-nav-link">Logout</a></li>
							{% else %}
							<li class="tm-nav-li"><a href="/login" class="tm-nav-link">Login</a></li>
			        {% endif %}
					
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Book store</h2>
					</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Arabic</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">French</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">English</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					{%block gallery%}
					{%endblock%}
				</div> <!-- gallery page 1 -->
				
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{{asset('img/img-0200.jpg')}}" alt=" NO Image" class="img-fluid" >
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">the most Reader</h4>
							<p class="tm-mb-45"> my books </p>
							<a href="{{asset('about.html')}}" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021  
		</footer>
	</div>
  
	<script src="{{asset('js/jquery.min.js')}}"></script>
	<script src="{{asset('js/parallax.min.js')}}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>